@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-black text-gray-900 dark:text-gray-100;
}

.truncate-last {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Jumlah baris yang ingin Anda tampilkan sebelum truncate */
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 5em;
  @media screen and (min-width: 768px) {
    max-height: 4.5em; /* Untuk layar dengan lebar minimal 768px, tampilkan lebih banyak teks */
  }

  @media screen and (min-width: 1024px) {
    max-height: 5em; /* Untuk layar dengan lebar minimal 1024px, tampilkan lebih banyak teks */
  }
}

.truncate-last-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Jumlah baris yang ingin Anda tampilkan sebelum truncate */
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 3em;
  @media screen and (min-width: 768px) {
    max-height: 3.5em; /* Untuk layar dengan lebar minimal 768px, tampilkan lebih banyak teks */
  }

  @media screen and (min-width: 1024px) {
    max-height: 3em; /* Untuk layar dengan lebar minimal 1024px, tampilkan lebih banyak teks */
  }
}

.truncate-last-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Jumlah baris yang ingin Anda tampilkan sebelum truncate */
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 3em;
  @media screen and (min-width: 768px) {
    max-height: 3.5em; /* Untuk layar dengan lebar minimal 768px, tampilkan lebih banyak teks */
  }

  @media screen and (min-width: 1024px) {
    max-height: 3em; /* Untuk layar dengan lebar minimal 1024px, tampilkan lebih banyak teks */
  }
}

/* Infinite Running Card */
.marquee {
  display: flex;
  overflow: scroll;
  width: 100%;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: marquee 60s linear infinite;
}

.marquee:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* ------ */

.logo {
  mix-blend-mode: multiply;
}

.blurry {
  -webkit-backdrop-filter: blur(24px) !important;
  backdrop-filter: blur(24px) !important;
}

.mega-menu {
  -webkit-backdrop-filter: blur(24px) !important;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8); /* Fallback */
  will-change: transform;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* Add these styles in your CSS file or a <style> block */
.backdrop-blur {
  backdrop-filter: blur(10px);
}

.mega-menu {
  backdrop-filter: blur(10px);
}

.noBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carousel2 {
  display: inline-flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel2::-webkit-scrollbar {
  display: none;
}

@keyframes marqueeText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marqueeText {
  animation: marquee 5s linear infinite;
}

.newCorner::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -30px;
  width: 30px;
  height: 30px;
  background: rgba(249, 30, 30, 0);
  border-radius: 50%;
  box-shadow: 17px 17px 0 #000000;
}

.newCorner::after {
  content: "";
  position: absolute;
  z-index: -100;
  right: 0px;
  bottom: -30px;
  width: 30px;
  height: 30px;
  background: rgba(249, 30, 30, 0);
  border-radius: 50%;
  box-shadow: 17px -17px 0 #000000;
}
